html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 2em;
}

.img-flex {
  position: absolute;
  width: 100%;
  max-width: 50em;
  max-height: 500px;
  overflow: hidden;
}

.banner {
  position: relative;
  width: 100%;
}
