html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 4rem;
  display: inline;
  font-weight: bold;
  line-height: 1.4;
  color: #fff;
  padding: 0;
  background-color: rgba(0, 0, 0, .5)
}

p {
  display: inline;
  font-size: 2em;
  margin: 0;
  font-size: 2rem;
  font-style: italic;
  padding-top: 1rem;
  line-height: 1.5;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 500px;
  bottom: 0;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  transform: translateX(-50%);
  z-index: 2;
  left: 50%;
  max-width: 50em;
  padding: .2rem 1.5rem;
  width: 100%;
  bottom: 15px;
}
